################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CampusWork/.vs/CampusWork/v15/Server/sqlite3
